<footer class="main_footer">
    <div class="footer_container">
        <div class="social">
            <ul>
                <!-- <li class="instagram">
                    <a href="#">
                        {% include icon/instagram.svg %}
                    </a>
                </li>
                <li class="twitter social-icon">
                    <a href="#">
                        {% include icon/twitter.svg %}
                    </a>
                </li>
                <li class="facebook social-icon">
                    <a href="#">
                        {% include icon/facebook.svg %}
                    </a>
                </li>
                <li class="google-plus social-icon">
                    <a href="#">
                        {% include icon/google-plus.svg %}
                    </a>
                </li>
                <li class="youtube social-icon">
                    <a href="#">
                        {% include icon/youtube.svg %}
                    </a>
                </li> -->
            </ul>
        </div>


    </div>

</footer>