<div class="section" id="section1">
    <div class="section_content_mobile">
        <h1 class="headline">ساعتی برای عصر ما</h1>

        <div class="moto360_logo"></div>

        <div id="buy_me">
            <a href="">سفارش دهید</a>
        </div>

        <div id="moto360_head"></div>

        <div class="aw_lgo"></div>
    </div>

    <div class="section_content_desktop">

        <div class="moto360_logo_black">
        	<img src="assets/img/moto360_logo_black.png" alt="Moto360 Logo">
        </div>
        <h1 class="headline">ساعتی برای عصر ما</h1>

        <div id="buy_me">
            <a href="">سفارش دهید</a>
        </div>
        
        <div class="epaarseh_logo">
            <img src="../img/epaarseh_logo.png" alt="امتداد پارسه">
        </div>
        <div class="aw_logo">
            <a href="http://www.android.com/wear/">
                <img src="assets/img/android_wear_black.png" alt="Powered by Android Wear">
            </a>
        </div>
    </div>

</div>