#main_header

	height: 3.4375rem //55px
	
	
	background: #fff
	position: relative
	border-bottom-color: rgb(229, 229, 229)
	border-bottom-style: solid
	border-bottom-width: 1px

	#dw_logo

		line-height: 3.4375rem//55px
		font-family: 'Roboto', Sans serif
		font-size: 1.5rem //24
		text-align: center
		font-weight: 300
	
	// #main_nav
	// 	float: right
	// 	line-height: 72px
	// 	padding-right: 50px
	// 	vertical-align: middle

	// 	a
	// 		text-decoration: none
	// 		font-size: 1rem //16px
	// 		font-family: 'IRAN'
	// 		padding-left: 14px
@media screen and (min-width: 441px)
	#main_header		
		height: 72px		
		#dw_logo
			line-height: 72px
			float: left
			padding-left: 40px

